Multilingual HSC RAG.json
{
  "name": "Multilingual HSC RAG",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "aba0ef05-a179-4a98-8425-c05739663cb2",
      "name": "Telegram Trigger",
      "webhookId": "98cb50bf-a02e-4953-968c-2c45a44b836a",
      "credentials": {
        "telegramApi": {
          "id": "MvsTsYNt5rZmj4OU",
          "name": "10 ms hsc bangla"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "options": {
          "systemMessage": "=You are a multilingual assistant designed to answer questions based on the HSC26 Bangla 1st Paper textbook. You support both Bangla and English queries. All answers must be strictly grounded in content retrieved from the textbook using the Pinecone tool.\n\nTools:\n• Tool Name: banglahsc  \n• Description: Use this tool to retrieve relevant document chunks from the HSC26 Bangla 1st Paper. Always call this tool before answering. Do not respond unless content is retrieved.\n\nResponse Instructions:\n\n1. Begin every session by asking the user if they prefer to ask questions in Bangla or English.\n2. Accept and understand questions in the chosen language.\n3. Retrieve the most relevant content using the Pinecone vector store (tool: banglahsc).\n4. Answer only if relevant content is retrieved. If not, respond with:\n   - Bangla: “দুঃখিত, আমি এই প্রশ্নের নির্ভরযোগ্য উত্তর খুঁজে পাইনি।”\n   - English: “Sorry, I could not find a reliable answer in the document.”\n5. Maintain the same language throughout the session as per user choice.\n6. Use short-term memory to support follow-up questions in the session.\n7. Never generate answers from general knowledge or assumptions — always ground responses in retrieved document chunks.\n8. If the user’s question is unclear, politely ask them to clarify in their selected language.\n9. Always give short one-two worded answers\n\nExample Chatflow:\n\n👤 /start  \n🤖 🔤 Would you like to ask your question in Bangla or English?\n\n👤 Bangla  \n🤖 আপনার প্রশ্নটি বাংলায় লিখুন। আমি HSC বাংলা প্রথম পত্র বই থেকে উত্তর দেব।  \n👤 অনুপমের ভাষায় সুপুরুষ কাকে বলা হয়েছে?  \n🤖 শুম্ভুনাথ\n\n👤 English  \n🤖 Please write your question in English. I will answer it using the HSC Bangla 1st Paper textbook.  \n👤 Who is called a lucky god in Anupam’s words?  \n🤖 His uncle (Mama)\n\nStay factual, context-aware, and linguistically adaptive.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        220,
        0
      ],
      "id": "0bd7b88a-7e52-48e0-ad40-b02e2d25bc8e",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "gpt-4o"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        120,
        220
      ],
      "id": "d1f2dec0-240d-4494-a81a-38921b1667cd",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "ROK9qmnp9uRxoamh",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.message.chat.id }}",
        "contextWindowLength": 20
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        220,
        240
      ],
      "id": "38509913-8e0d-4710-bb72-2c21b30989da",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        420,
        340
      ],
      "id": "e47d3717-e0a8-4569-95ea-ccf1dc6d51e3",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "ROK9qmnp9uRxoamh",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.from.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        580,
        0
      ],
      "id": "61ee8a53-e5a4-441c-a109-24cbc7aaa9d9",
      "name": "Send a text message",
      "webhookId": "0d52de4c-6d92-4a49-bd4b-53e77bf4349a",
      "credentials": {
        "telegramApi": {
          "id": "MvsTsYNt5rZmj4OU",
          "name": "10 ms hsc bangla"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Call this tool to access information for the User",
        "pineconeIndex": {
          "__rl": true,
          "value": "banglahsc",
          "mode": "list",
          "cachedResultName": "banglahsc"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        340,
        200
      ],
      "id": "3ca81388-2e17-41d9-8e62-482550393448",
      "name": "banglahsc",
      "credentials": {
        "pineconeApi": {
          "id": "EDrqZqG6J85C8UTH",
          "name": "nowshadktasin"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "banglahsc",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "banglahsc": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "06437cdd-c95e-4fe9-98e5-63a719e58406",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "6981b44a271286b5287b77a406affeac3f983045662065f77d3b71effa81e66c"
  },
  "id": "dofvyVqStKG4b25K",
  "tags": []
}